<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Event Management
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block boosstrap %}
			{% include 'Components/boot.php' %}
		{% endblock %}
		{% block stylesheets %}
			<link rel="stylesheet" href="Css/style.css">
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>

		{% block header %}
			<header>
				<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #fff;">
					<div class="container-fluid">
						<a
							class="navbar-brand" href="/">
							{# <img src="https://img.freepik.com/free-photo/person-close-up-recording-video-with-smartphone-during-concert_1153-7416.jpg?w=1380&t=st=1681468172~exp=1681468772~hmac=a1ecbeb4baed6d0534e3857ff1349dfceaac0706b875d642a90d5e2bfabb9f3f" alt="Logo" width="45" height="45" class="d-inline-block align-text-top"> #}
							Vienna EVENT Management
						</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="/">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/manage_event/create">Create Event</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Filter by
									</a>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="/manage_event/find/Dance">Dance</a>
										</li>
										<li>
											<a class="dropdown-item" href="/manage_event/find/Theater">Theater</a>
										</li>
										<li>
											<a class="dropdown-item" href="/manage_event/find/Opera">Opera</a>
										</li>
										<li>
											<a class="dropdown-item" href="/manage_event/find/Painting">Painting</a>
										</li>
										<li>
											<a class="dropdown-item" href="/manage_event/find/Classic">Classic</a>
										</li>
										<li>
											<a class="dropdown-item" href="/manage_event/find/Design">Design</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</header>
		{% endblock %}


		{% block hero %}{% endblock %}

		{% block custom %}
			<div class="container"></div>
		{% endblock %}
		{% block footer%}
			<footer class="footer">
				<div class="col-md-4 text-center w-100 align-items-center mx-4 pt-4">
					<i class="bi bi-music-note-beamed"></i>
					<span class="mb-3 mb-md-0 text-muted "> CodeReview 6, CodeFactory</span>
				</div>

				<ul class="col-md-4 list-unstyled ms-4">
					<li class="ms-3">
						<i class="bi bi-twitter"></i>
					</li>
					<li class="ms-3">
						<i class="bi bi-facebook"></i>
					</li>
					<li class="ms-3">
						<i class="bi bi-instagram"></i>
					</li>
					<li class="ms-3">
						<i class="bi bi-youtube"></i>
					</li>
				</ul>
			</footer>
		{% endblock %}
		{% block bootstrapjs %}
			{% include 'Components/bootjs.php' %}
		{% endblock %}
	</body>
</html>
